<div class="list-group list-style" *ngIf="users.length;else showEmptyMessage">
    <span class="list-group-item list-group-item-action sticky active">User List</span>
    <!-- Sometimes, you do not want a link to navigate to another page or reload a page. Using javascript:, you can run code that does not change the current page.
    This, used with void(0) means, do nothing - don't reload, don't navigate, do not run any code. -->
    <a href="javascript:void(0)" *ngFor="let user of users" (click)="selectUser(user)"
        class="list-group-item list-group-item-action">
        <img [src]="user.userInfo.avatar_url" class="rounded-circle" width="50" height="50" alt="User-image">
        {{user.userInfo.name}}
    </a>
</div>

<ng-template #showEmptyMessage>
    Do not have history.
</ng-template>