li {
    // list-style-type: decimal;
    color: #007bff;
}

span.dots {
    position: relative;
    padding: 10px;

    &:before {
        content: '';
        width: 5px;
        height: 5px;
        background-color: #1579f6;
        position: absolute;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}